@import '../shared/styles/variables';
main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background: url(../shared/assets/background.png);
}
.container {
  background: $background;
  width: 30%;
  height: 100%;
  margin-left: 34%;
  border: 1px solid $border;
    @include flex(column, nowrap, center, flex-start);
    padding: 30px 40px  0;
}
.buttons {
  button {
    @extend %btn;
    &:last-child{
      margin-left: 20px;
    }
  }
}
.jobs-container {
  margin: 20px 0 0; padding:0;
}
.jobs {
  list-style-type: none;
  a {
    color: $border;
    text-decoration: none;
    &:hover {
      color: $active;
    }
    span {
      font-weight: bold;

    }
    p{
      margin: 0 0 10px;
      span{
        font-weight: normal;
      }
    }
  }
}
